:target {
	display: block !important;
}
#yearList, #eventList ul {
	display: inline;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0px;
}
#yearList li {
	display: inline;
	margin-right: 13px;
}
#eventList ul {
	--columns: 3;
	
	display: none;
	columns: var(--columns) calc((var(--maxWidth) / var(--columns)) - calc(var(--columns) * 1em));
}
#eventList ul {
	/*column-count: 3;
	column-width: ;*/
}
#eventList li {
	display: block;
}
#imageList > section > section, img {
	/* @TODO predefine dimensions to prevent reflow */
}
#currImage {
	/* @TODO predefine dimensions to prevent reflow */
}
#imageList {
	/* @TODO predefine dimensions to prevent reflow */
}