:target {
	display: block !important;
}
body {
	--linkPadding: 10px;
}
img {
	max-width: 100%;
}
#yearList a {
	display: inline-block;
	margin-right: 13px;
}
#eventList > nav {
	--columns: 3;
	
	display: none;
	columns: var(--columns) calc((var(--maxWidth) / var(--columns)) - calc(var(--columns) * 1em));
}
#eventList a {
	color: inherit;
	display: inline-block;
	padding: var(--linkPadding);
	width: 100%;
}
#eventList a:hover {
	background: rgba(20, 50, 72, 0.3);
	text-decoration: none;
}
@media screen and (orientation: landscape) {
	#contentContainer > section:not(#eventList):target {
		flex-flow: row-reverse wrap;
	}
}
@media screen and (orientation: portrait) {
	#contentContainer > section:not(#eventList):target {
		flex-flow: row wrap;
	}
}
#contentContainer > section:not(#eventList) {
	display: none;
	justify-content: space-between;
}
#contentContainer > section:not(#eventList):target {
	display: flex !important;
}
#currImage > * {
	display: none;
}
#imageList {
	flex-basis: 20%;
}
#imageList > section > * {
	display: block;
	width: 100%;
	border: 1px solid red;
}
#imageList > section > a[href$="_info"] {
	box-sizing: border-box;
	padding: var(--linkPadding);
}
#imageList > section > section, img {
	/* @TODO predefine dimensions to prevent reflow */
}
#currImage {
	/* @TODO predefine dimensions to prevent reflow */
}
#imageList {
	/* @TODO predefine dimensions to prevent reflow */
}