:target {
	display: block !important;
}
#yearList{
	display: inline;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0px;
}
#yearList li {
	display: inline;
	margin-right: 13px;
}
#eventList > section {
	--columns: 3;
	
	display: none;
	columns: var(--columns) calc((var(--maxWidth) / var(--columns)) - calc(var(--columns) * 1em));
}
#eventList a {
	color: inherit;
	display: inline-block;
	padding: 10px;
	width: 100%;
}
#eventList a:hover {
	background: rgba(20, 50, 72, 0.3);
	text-decoration: none;
}
#currImage > * {
	display: none;
}
#imageList > section {
	display: none;
}
#imageList > section > section, img {
	/* @TODO predefine dimensions to prevent reflow */
}
#currImage {
	/* @TODO predefine dimensions to prevent reflow */
}
#imageList {
	/* @TODO predefine dimensions to prevent reflow */
}